body {
  background: var(--color-white);
  color: var(--color-darkgray);
  margin: 0;
  font-family: var(--font-primary);
  font-size: var(--fontsize-body);
  line-height: 1.6;
}

strong {
  font-weight: var(--fontweight-bold);
}
/* Typo */

h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--fontsize-h1);
}
h2 {
  font-size: var(--fontsize-h2);
}
h3 {
  font-size: var(--fontsize-h3);
}

img {
  display: block;
  max-width: 100%;
}

:focus {
  outline: 3px solid var(--color-turquoise);
  outline-offset: 3px;
}

.btn {
  display: inline-block;
  padding: 0.5em 2.5em;
  background: var(--color-black);
  color: var(--color-turquoise);
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 15px;
  font-weight: var(--fontweight-bold);
  transition: transform 200ms ease-in-out;
  letter-spacing: 2px;
  margin-top: 2em;
}

.btn:hover {
  transform: scale(1.2);
}

section {
  padding: 4em 3.7em;
}

.section__title {
  margin-bottom: 0.4em;
}

.section__title--introduction {
  font-weight: var(--fontweight-reg);
}

.section__title--introduction strong {
  display: block;
}

.section__subtitle {
  margin: 0;
  font-size: var(--fontsize-h3);
}

.section__subtitle--introduction {
  /* What we do here is that the turquoise only fits the content (only in small devices)  */
  display: inline-block;
}
.section__subtitle--introduction,
.section__subtitle--about {
  background: var(--color-turquoise);
  font-family: var(--font-secondary);
  margin-bottom: 0.8em;
  padding: 0.25em 1rem;
}

.section__introduction--image {
  box-shadow: var(--boxshadow);
}

/* Navigation  */

nav {
  display: none;
}

/* Intro section */

.introduction {
  position: relative;
}

@media (min-width: 600px) {
  .introduction {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas:
      "img title"
      "img subtitle";

    grid-template-columns: min-content max-content;
  }

  .section__introduction--image {
    grid-area: img;
    min-width: 250px;
    z-index: 2;
    position: relative;
  }
  /* Play with the left and the width calc */
  .section__subtitle--introduction {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
  }
}

/* My services  */

.my-services {
  background: var(--color-turquoise);
  background-image: url(./assets/myservices-background-3.jpg);
  background-size: cover;
  background-blend-mode: multiply;
  color: var(--color-white);
  text-align: center;
}

.section__title--services {
  color: var(--color-white);
  position: relative;
}
/* We can create the small underline in the title with after  */
.section__title--services::after {
  content: "";
  display: block;
  width: 5em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: currentColor;
  opacity: 0.5;
}

.service {
  max-width: 300px;
  margin: 0 auto;
  padding-bottom: 1em;
}

@media (min-width: 800px) {
  .services {
    display: flex;
    justify-content: space-around;
    /* max-width: 1000px; */
    margin-left: auto;
    margin-right: auto;
  }

  .service + .services {
    margin-left: 2em;
  }
}
/* About me */

/* .about-me__image {
  display: block;
} */

/* Work  */

/* .portfolio__image {
  display: block;
} */
